<launch>
  <arg name="can_follower_port" default="can2" />
  <arg name="can_leader_port" default="can3" />
  <arg name="auto_enable" default="true" />
  <arg name="gripper_val_mutiple" default="1" />

  <!-- type="piper_ctrl_leader_node.py" -->
  <!-- ================= Leader ================= -->
  <group ns="leader">
    <!-- Old version -->
    <!-- <node name="ctrl"
          pkg="piper"
          type="piper_ctrl_leader_node_new.py"
          output="screen"> -->
    <!-- New version -->
    <node name="ctrl"
          pkg="piper"
          type="piper_ctrl_leader_node_new.py"
          output="screen">
      <param name="can_port" value="$(arg can_leader_port)" />
      <param name="auto_enable" value="$(arg auto_enable)" />
      <param name="gripper_val_mutiple" value="$(arg gripper_val_mutiple)" />
      <param name="gripper_exist" value="true" />
      <remap from="joint_ctrl_single" to="joint_grip_pose" />
    </node>
  </group>


  <!-- ================= Follower ================= -->
  <group ns="follower">
    <node name="ctrl"
          pkg="piper"
          type="piper_ctrl_follower_node_L.py"
          output="screen">
      <param name="can_port" value="$(arg can_follower_port)" />
      <param name="auto_enable" value="$(arg auto_enable)" />
      <param name="gripper_val_mutiple" value="$(arg gripper_val_mutiple)" />
      <param name="gripper_exist" value="true" />
      <remap from="joint_ctrl_single" to="/leader/joint_grip_pose" />
      <!-- leader pose topic -->
      <remap from="/end_pose_euler" to="/leader/end_pose_euler" />
    </node>

    <!-- <node name="camera_pub"
          pkg="piper"
          type="camera_pub.py"
          output="screen">
      <param name="video_port" value="$(arg video_port)" />
    </node> -->
  </group>

</launch>

